.ul
{
    list-style-type: none;
}

.chip-container
{
    background: #ffffff;
    border-top: 1px  rgba(0, 0,0,0.85);
    border-bottom: 1px  rgba(0, 0,0,0.85);
    padding: 10px 15px;
    z-index: 99;
}
.chip
{
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    background-color: rgba(178, 178, 178, 0.05);
    border: 1px solid rgba(0, 0,0,0.1);
    white-space: nowrap;
    margin-top: 4px;
    margin-right: 8px;
    border-radius: 25px;

}
.chip.active
{
    background-color: black;
    color: #fff;
}
